{% extends 'base.html' %}
{% block content %}
<h3>Lista de Clientes</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>País</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for c in clientes %}
    <tr>
      <td>{{ c.id }}</td>
      <td>{{ c.nombre }}</td>
      <td>{{ c.apellido }}</td>
      <td>{{ c.email }}</td>
      <td>{{ c.pais_residencia }}</td>
      <td>
        <a class="btn btn-sm btn-info" href="{% url 'actualizar_cliente' c.id %}">Editar</a>
        <a class="btn btn-sm btn-danger" href="{% url 'borrar_cliente' c.id %}">Borrar</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="5">No hay clientes.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}